[phases.setup]
nixPkgs = ["gdal", "expat", "libxml2", "geos", "proj"]

[phases.install]
cmds = ["pip install --upgrade pip", "pip install -r requirements.txt"]

[start]
cmd = "uvicorn main:app --host 0.0.0.0 --port $PORT"

